<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span >
        <button class="button" mat-raised-button (click)="sortProductsAsc()">low-high</button>
        <button class="button" mat-raised-button (click)="loadProducts()">base</button>
        <button class="button" mat-raised-button (click)="sortProductsDesc()">high-low</button>
      </span>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
      <span>
        <button mat-flat-button routerLink="/add">Make new coffee listing</button>
      </span>
    </mat-toolbar-row> 
  </mat-toolbar>


<!-- <div *ngFor="let item of coffeeList">
    <h2>{{item.itemName}}</h2>
    <p>{{item.description}}</p>
    <p *ngIf=" 'true' == item.dairyFree">It's Dairy Free!</p>
    <p>{{item.price}}</p>
    <img [src]="item.imageUrl" alt="coffeeImg"/>
    
    
</div> -->


<mat-card class="coffee-card" *ngFor="let item of coffeeList">
    <mat-card-header>
      <mat-card-title>{{item.itemName}}</mat-card-title>
      <mat-card-subtitle><p>{{item.price}}</p></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <p>{{item.description}}</p> -->
      <img mat-card-xl-image [src]="item.imageUrl" alt="coffeeImg"/>
      <p *ngIf="'true' == item.dairyFree">It's Dairy Free!</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]='["/products", item.id]'>Details</button>
        <button mat-button  [routerLink]='["/edit", item.id]'>Edit</button>
        <button mat-button (click)="onDelete(item.id)">Delete</button>
    </mat-card-actions>
  </mat-card>
